# PART 2

In [1]:
import pandas as pd

## Menghapus Data

In [2]:
df_aps = pd.read_csv("C:/Users/bayuk/OneDrive/Documents/AI/pens/smtr2/Pemrosesan Data/2/angka_partisipasi_sekolah.csv")
df_aps.head()

,_id,idx,vervar,var,turvar,tahun,nilai
0,1,0,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2010,96.34
1,2,1,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2011,94.17
2,3,2,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2012,95.45
3,4,3,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2013,NaN
4,5,4,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2014,98.22

## Menghapus Kolom
### del

In [3]:
del df_aps["_id"]
df_aps.head()

,idx,vervar,var,turvar,tahun,nilai
0,0,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2010,96.34
1,1,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2011,94.17
2,2,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2012,95.45
3,3,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2013,NaN
4,4,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2014,98.22

### drop

In [4]:
df_aps.drop("idx", axis = 1).head()

,vervar,var,turvar,tahun,nilai
0,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2010,96.34
1,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2011,94.17
2,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2012,95.45
3,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2013,NaN
4,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2014,98.22

In [5]:
df_aps.head()

,idx,vervar,var,turvar,tahun,nilai
0,0,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2010,96.34
1,1,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2011,94.17
2,2,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2012,95.45
3,3,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2013,NaN
4,4,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2014,98.22

In [6]:
df_aps_deleted = df_aps.drop("idx", axis = 1).head()
df_aps_deleted.head()

,vervar,var,turvar,tahun,nilai
0,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2010,96.34
1,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2011,94.17
2,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2012,95.45
3,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2013,NaN
4,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2014,98.22

In [7]:
df_aps.drop("idx", axis = 1, inplace = True)
df_aps.head()

,vervar,var,turvar,tahun,nilai
0,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2010,96.34
1,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2011,94.17
2,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2012,95.45
3,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2013,NaN
4,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2014,98.22

In [8]:
df_aps = df_aps.drop("var", axis = 1)
df_aps.head()

                      vervar         turvar  tahun  nilai
0  Kabupaten Polewali Mandar  Sekolah Dasar   2010  96.34
1  Kabupaten Polewali Mandar  Sekolah Dasar   2011  94.17
2  Kabupaten Polewali Mandar  Sekolah Dasar   2012  95.45
3  Kabupaten Polewali Mandar  Sekolah Dasar   2013    NaN
4  Kabupaten Polewali Mandar  Sekolah Dasar   2014  98.22

## Menghapus Baris

In [9]:
# Menghapus Baris berdasarkan Indeks
df_aps.drop([0, 1])

                       vervar                    turvar  tahun  nilai
2   Kabupaten Polewali Mandar             Sekolah Dasar   2012  95.45
3   Kabupaten Polewali Mandar             Sekolah Dasar   2013    NaN
4   Kabupaten Polewali Mandar             Sekolah Dasar   2014  98.22
5   Kabupaten Polewali Mandar             Sekolah Dasar   2015  97.04
6   Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2010    NaN
7   Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2011    NaN
8   Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2012  80.02
9   Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2013  80.04
10  Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2014     --
11  Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2015  90.51
12  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2010  32.79
13  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2011  55.88
14  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2012  56.01
15  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2013    NaN
16  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2014  61.73
17  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2014  64.32
18  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2015      -
19  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2015  66.26
20  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2015  66.26

In [10]:
# Menghapus Baris berdasarkan Nilai di Sebuah Kolom
df_aps[df_aps.turvar != 'Sekolah Dasar']

                       vervar                    turvar  tahun  nilai
6   Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2010    NaN
7   Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2011    NaN
8   Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2012  80.02
9   Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2013  80.04
10  Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2014     --
11  Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2015  90.51
12  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2010  32.79
13  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2011  55.88
14  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2012  56.01
15  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2013    NaN
16  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2014  61.73
17  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2014  64.32
18  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2015      -
19  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2015  66.26
20  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2015  66.26

In [11]:
# Menghapus Baris berdasarkan Nomor Baris
df_aps.drop(df_aps.index[0])
df_aps.head()

                      vervar         turvar  tahun  nilai
0  Kabupaten Polewali Mandar  Sekolah Dasar   2010  96.34
1  Kabupaten Polewali Mandar  Sekolah Dasar   2011  94.17
2  Kabupaten Polewali Mandar  Sekolah Dasar   2012  95.45
3  Kabupaten Polewali Mandar  Sekolah Dasar   2013    NaN
4  Kabupaten Polewali Mandar  Sekolah Dasar   2014  98.22

In [12]:
df_aps.drop(df_aps.index[[2, 3]])

                       vervar                    turvar  tahun  nilai
0   Kabupaten Polewali Mandar             Sekolah Dasar   2010  96.34
1   Kabupaten Polewali Mandar             Sekolah Dasar   2011  94.17
4   Kabupaten Polewali Mandar             Sekolah Dasar   2014  98.22
5   Kabupaten Polewali Mandar             Sekolah Dasar   2015  97.04
6   Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2010    NaN
7   Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2011    NaN
8   Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2012  80.02
9   Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2013  80.04
10  Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2014     --
11  Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2015  90.51
12  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2010  32.79
13  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2011  55.88
14  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2012  56.01
15  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2013    NaN
16  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2014  61.73
17  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2014  64.32
18  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2015      -
19  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2015  66.26
20  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2015  66.26

In [13]:
# Menghapus Baris Relatif terhadap Urutannya dari Baris Terakhir
df_aps.tail()

                       vervar                 turvar  tahun  nilai
16  Kabupaten Polewali Mandar  Sekolah Menengah Umum   2014  61.73
17  Kabupaten Polewali Mandar  Sekolah Menengah Umum   2014  64.32
18  Kabupaten Polewali Mandar  Sekolah Menengah Umum   2015      -
19  Kabupaten Polewali Mandar  Sekolah Menengah Umum   2015  66.26
20  Kabupaten Polewali Mandar  Sekolah Menengah Umum   2015  66.26

In [14]:
df_aps.drop(df_aps.index[-2])

                       vervar                    turvar  tahun  nilai
0   Kabupaten Polewali Mandar             Sekolah Dasar   2010  96.34
1   Kabupaten Polewali Mandar             Sekolah Dasar   2011  94.17
2   Kabupaten Polewali Mandar             Sekolah Dasar   2012  95.45
3   Kabupaten Polewali Mandar             Sekolah Dasar   2013    NaN
4   Kabupaten Polewali Mandar             Sekolah Dasar   2014  98.22
5   Kabupaten Polewali Mandar             Sekolah Dasar   2015  97.04
6   Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2010    NaN
7   Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2011    NaN
8   Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2012  80.02
9   Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2013  80.04
10  Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2014     --
11  Kabupaten Polewali Mandar  Sekolah Menengah Pertama   2015  90.51
12  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2010  32.79
13  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2011  55.88
14  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2012  56.01
15  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2013    NaN
16  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2014  61.73
17  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2014  64.32
18  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2015      -
20  Kabupaten Polewali Mandar     Sekolah Menengah Umum   2015  66.26

## Mengubah Nama Kolom

In [15]:
df_aps = df_aps.rename(columns = {"vervar": "kabupaten",
                                  "turvar": "tingkat"})
df_aps.head()

                   kabupaten        tingkat  tahun  nilai
0  Kabupaten Polewali Mandar  Sekolah Dasar   2010  96.34
1  Kabupaten Polewali Mandar  Sekolah Dasar   2011  94.17
2  Kabupaten Polewali Mandar  Sekolah Dasar   2012  95.45
3  Kabupaten Polewali Mandar  Sekolah Dasar   2013    NaN
4  Kabupaten Polewali Mandar  Sekolah Dasar   2014  98.22

In [16]:
df_aps.columns

Index(['kabupaten', 'tingkat', 'tahun', 'nilai'], dtype='object')

## Menangani Baris Duplikat

In [18]:
# Mengidentifikasi Baris Duplikat dengan pandas.DataFrame.duplicated
df_aps = pd.read_csv("C:/Users/bayuk/OneDrive/Documents/AI/pens/smtr2/Pemrosesan Data/2/angka_partisipasi_sekolah.csv")
df_aps.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20     True
dtype: bool

In [19]:
df_aps[df_aps.duplicated()]

,_id,idx,vervar,var,turvar,tahun,nilai
20,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26

In [20]:
df_aps[df_aps.duplicated(keep = False)]

,_id,idx,vervar,var,turvar,tahun,nilai
19,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26
20,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26

In [21]:
df_aps[df_aps.duplicated(subset=["vervar", "turvar",
                                 "tahun"], keep = False)]

,_id,idx,vervar,var,turvar,tahun,nilai
16,17,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,61.73
17,18,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,64.32
18,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,-
19,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26
20,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26

In [22]:
# Menghapus Baris-Baris Duplikat dengan pandas.DataFrame.drop_duplicates()
df_aps_no_dup = df_aps.drop_duplicates()
df_aps_no_dup.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

In [23]:
df_aps_no_dup[df_aps_no_dup.duplicated()]

Empty DataFrame
Columns: [_id, idx, vervar, var, turvar, tahun, nilai]
Index: []

In [24]:
df_aps_no_dup[df_aps_no_dup.duplicated(subset=["vervar", "turvar", "tahun"])]

,_id,idx,vervar,var,turvar,tahun,nilai
17,18,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,64.32
19,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26

In [25]:
df_aps_no_dup = df_aps.drop_duplicates(subset=["vervar", "turvar", "tahun"])
df_aps_no_dup[df_aps_no_dup.duplicated(subset=["vervar", "turvar", "tahun"])]

Empty DataFrame
Columns: [_id, idx, vervar, var, turvar, tahun, nilai]
Index: []

In [26]:
df_aps_no_dup

,_id,idx,vervar,var,turvar,tahun,nilai
0,1,0,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2010,96.34
1,2,1,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2011,94.17
2,3,2,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2012,95.45
3,4,3,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2013,NaN
4,5,4,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2014,98.22
5,6,5,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2015,97.04
6,7,6,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2010,NaN
7,8,7,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2011,NaN
8,9,8,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2012,80.02
9,10,9,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2013,80.04
10,11,10,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2014,--
11,12,11,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2015,90.51
12,13,12,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2010,32.79
13,14,13,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2011,55.88
14,15,14,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2012,56.01
15,16,15,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2013,NaN
16,17,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,61.73
18,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,-

In [27]:
df_aps.tail()

,_id,idx,vervar,var,turvar,tahun,nilai
16,17,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,61.73
17,18,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,64.32
18,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,-
19,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26
20,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26

In [28]:
df_aps.drop_duplicates(subset=["vervar", "turvar", "tahun"], keep = "last").tail()

,_id,idx,vervar,var,turvar,tahun,nilai
13,14,13,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2011,55.88
14,15,14,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2012,56.01
15,16,15,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2013,NaN
17,18,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,64.32
20,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26

In [29]:
df_aps.drop_duplicates(subset=["vervar", "turvar", "tahun"], keep = False)

,_id,idx,vervar,var,turvar,tahun,nilai
0,1,0,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2010,96.34
1,2,1,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2011,94.17
2,3,2,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2012,95.45
3,4,3,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2013,NaN
4,5,4,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2014,98.22
5,6,5,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2015,97.04
6,7,6,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2010,NaN
7,8,7,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2011,NaN
8,9,8,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2012,80.02
9,10,9,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2013,80.04
10,11,10,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2014,--
11,12,11,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2015,90.51
12,13,12,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2010,32.79
13,14,13,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2011,55.88
14,15,14,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2012,56.01
15,16,15,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2013,NaN

## Menghandle Missing Values

In [30]:
df_aps = pd.read_csv("C:/Users/bayuk/OneDrive/Documents/AI/pens/smtr2/Pemrosesan Data/2/angka_partisipasi_sekolah.csv")
# Missing Value dengan Bentuk Standar
df_aps
df_aps[df_aps["nilai"].isnull()]

,_id,idx,vervar,var,turvar,tahun,nilai
3,4,3,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2013,NaN
6,7,6,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2010,NaN
7,8,7,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2011,NaN
15,16,15,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2013,NaN

In [31]:
missing_values = ["-", "--"]
df_aps = pd.read_csv("C:/Users/bayuk/OneDrive/Documents/AI/pens/smtr2/Pemrosesan Data/2/angka_partisipasi_sekolah.csv", na_values = missing_values)
df_aps[df_aps["nilai"].isnull()]

,_id,idx,vervar,var,turvar,tahun,nilai
3,4,3,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2013,NaN
6,7,6,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2010,NaN
7,8,7,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2011,NaN
10,11,10,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2014,NaN
15,16,15,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2013,NaN
18,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,NaN

In [32]:
df_aps.isnull().sum()

_id       0
idx       0
vervar    0
var       0
turvar    0
tahun     0
nilai     6
dtype: int64

In [33]:
df_aps.isnull().values.any()

True

In [34]:
df_aps.isnull().sum().sum()

6

In [35]:
# Mengganti Missing Value dengan Sebuah Nilai
missing_values = ["-", "--"]
df_aps = pd.read_csv("C:/Users/bayuk/OneDrive/Documents/AI/pens/smtr2/Pemrosesan Data/2/angka_partisipasi_sekolah.csv", na_values = missing_values)
df_aps.head()

,_id,idx,vervar,var,turvar,tahun,nilai
0,1,0,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2010,96.34
1,2,1,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2011,94.17
2,3,2,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2012,95.45
3,4,3,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2013,NaN
4,5,4,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2014,98.22

In [36]:
df_aps.fillna(125)

,_id,idx,vervar,var,turvar,tahun,nilai
0,1,0,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2010,96.34
1,2,1,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2011,94.17
2,3,2,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2012,95.45
3,4,3,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2013,125.00
4,5,4,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2014,98.22
5,6,5,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2015,97.04
6,7,6,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2010,125.00
7,8,7,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2011,125.00
8,9,8,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2012,80.02
9,10,9,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2013,80.04
10,11,10,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2014,125.00
11,12,11,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2015,90.51
12,13,12,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2010,32.79
13,14,13,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2011,55.88
14,15,14,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2012,56.01
15,16,15,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2013,125.00
16,17,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,61.73
17,18,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,64.32
18,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,125.00
19,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26
20,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26

In [37]:
# Mengganti Missing Value dengan Sebuah Nilai pada Lokasi Tertentu
missing_values = ["-", "--"]
df_aps = pd.read_csv("C:/Users/bayuk/OneDrive/Documents/AI/pens/smtr2/Pemrosesan Data/2/angka_partisipasi_sekolah.csv", na_values = missing_values)
df_aps.loc[3, "nilai"] = 129
df_aps

,_id,idx,vervar,var,turvar,tahun,nilai
0,1,0,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2010,96.34
1,2,1,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2011,94.17
2,3,2,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2012,95.45
3,4,3,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2013,129.00
4,5,4,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2014,98.22
5,6,5,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2015,97.04
6,7,6,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2010,NaN
7,8,7,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2011,NaN
8,9,8,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2012,80.02
9,10,9,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2013,80.04
10,11,10,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2014,NaN
11,12,11,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2015,90.51
12,13,12,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2010,32.79
13,14,13,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2011,55.88
14,15,14,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2012,56.01
15,16,15,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2013,NaN
16,17,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,61.73
17,18,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,64.32
18,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,NaN
19,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26
20,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26

In [38]:
# Mengganti Missing Value dengan Mean dari Kolom
missing_values = ["-", "--"]
df_aps = pd.read_csv("C:/Users/bayuk/OneDrive/Documents/AI/pens/smtr2/Pemrosesan Data/2/angka_partisipasi_sekolah.csv", na_values = missing_values)
mean = df_aps['nilai'].mean()
mean

75.66933333333333

In [39]:
df_aps['nilai'] = df_aps['nilai'].fillna(mean)
df_aps

,_id,idx,vervar,var,turvar,tahun,nilai
0,1,0,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2010,96.340000
1,2,1,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2011,94.170000
2,3,2,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2012,95.450000
3,4,3,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2013,75.669333
4,5,4,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2014,98.220000
5,6,5,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2015,97.040000
6,7,6,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2010,75.669333
7,8,7,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2011,75.669333
8,9,8,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2012,80.020000
9,10,9,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2013,80.040000
10,11,10,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2014,75.669333
11,12,11,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2015,90.510000
12,13,12,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2010,32.790000
13,14,13,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2011,55.880000
14,15,14,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2012,56.010000
15,16,15,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2013,75.669333
16,17,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,61.730000
17,18,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,64.320000
18,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,75.669333
19,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.260000
20,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.260000

In [40]:
# Mengganti Missing Value dengan Nilai di Baris Berikutnya
missing_values = ["-", "--"]
df_aps = pd.read_csv("C:/Users/bayuk/OneDrive/Documents/AI/pens/smtr2/Pemrosesan Data/2/angka_partisipasi_sekolah.csv", na_values = missing_values)
df_aps

,_id,idx,vervar,var,turvar,tahun,nilai
0,1,0,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2010,96.34
1,2,1,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2011,94.17
2,3,2,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2012,95.45
3,4,3,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2013,NaN
4,5,4,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2014,98.22
5,6,5,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2015,97.04
6,7,6,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2010,NaN
7,8,7,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2011,NaN
8,9,8,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2012,80.02
9,10,9,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2013,80.04
10,11,10,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2014,NaN
11,12,11,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2015,90.51
12,13,12,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2010,32.79
13,14,13,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2011,55.88
14,15,14,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2012,56.01
15,16,15,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2013,NaN
16,17,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,61.73
17,18,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,64.32
18,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,NaN
19,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26
20,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26

In [41]:
df_aps.fillna(method ='bfill')

,_id,idx,vervar,var,turvar,tahun,nilai
0,1,0,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2010,96.34
1,2,1,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2011,94.17
2,3,2,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2012,95.45
3,4,3,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2013,98.22
4,5,4,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2014,98.22
5,6,5,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Dasar,2015,97.04
6,7,6,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2010,80.02
7,8,7,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2011,80.02
8,9,8,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2012,80.02
9,10,9,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2013,80.04
10,11,10,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2014,90.51
11,12,11,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Pertama,2015,90.51
12,13,12,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2010,32.79
13,14,13,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2011,55.88
14,15,14,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2012,56.01
15,16,15,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2013,61.73
16,17,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,61.73
17,18,16,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2014,64.32
18,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26
19,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26
20,19,17,Kabupaten Polewali Mandar,Angka Partisipasi Sekolah (APS),Sekolah Menengah Umum,2015,66.26